.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100%); /* Resta el doble del espesor del borde */
    background: rgba(194, 247, 133, 0.903);
    border: 0.3rem solid rgb(44, 80, 3);
    border-radius: 0.6rem;
    padding: 10px;
    box-sizing: border-box; /* Agrega la propiedad box-sizing */
  }