.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: calc(100%); /* Resta el doble del espesor del borde */
    height: 100vh;
    /* background: rgba(0,0,255, 0.25); */
    border: 0.3rem solid blue;
    border-radius: 0.6rem;
    padding: 10px;
    box-sizing: border-box; /* Agrega la propiedad box-sizing */
    background: url('./patron.jpg');
    background-repeat: repeat;
    background-size:auto;
    background-position: center;
    text-shadow: 0 0 5px rgb(255, 255, 255);
  }

.button{
  align-items: center;
    padding: 1.5rem 3rem;
    border: 0.5rem rgb(112, 45, 45) solid;
    outline: none;
    color: rgb(0, 0, 0);
    background: rgb(255, 255, 0, 0.5);
    cursor: pointer;
    position: relative;
    z-index: 1;
    box-shadow: 0 0 15px rgb(2, 202, 247, 1); /* Agrega una sombra al botón */
}
.button:hover {
  background: rgba(255, 255, 0, 0.7);
  }